body {
  font-family:"TTLakes-Regular";
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
}
.sidebar {
  width: 300px;
  background: #fff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  box-shadow: 1px 2px 70px #778899;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 10px 0;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 20px;
}
.icons {
  display: flex;
  gap: 10px;
}
.icon {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.phone {
  font-weight: bold;
  margin-top: 10px;
}
.languages span {
  margin-left: 10px;
  cursor: pointer;
}

.logo {
  margin-right: 170px;
  margin-left: 50px;
}

.se {
  background: none;
  border: none;
  cursor: pointer;
}

p {
  margin-left: 10px;
}

.phone {
  font-size: 25px;
}

@font-face {
  font-family: "TTLakes-Regular";
  src: url("../git-myyhub/Shrift/TTLakes-Regular.ttf")
}

.yo {
  color:darkgrey;
}

.jk {
  color: darkgrey;
}

